CREATE DATABASE [QLBG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBG', FILENAME = N'E:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBG_log', FILENAME = N'E:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLBG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBG]

GO
/****** Object:  Table [dbo].[ChiTiet_HoaDon]    Script Date: 22/05/2024 3:52:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_HoaDon](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[GiayID] [int] NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[DonGiaBan] [int] NOT NULL,
 CONSTRAINT [PK_ChiTiet_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giay]    Script Date: 22/05/2024 3:52:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giay](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[LoaiGiayID] [int] NOT NULL,
	[NhaCungCapID] [int] NOT NULL,
	[TenGiay] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[Size] [int] NOT NULL,
	
 CONSTRAINT [PK_Giay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 22/05/2024 3:52:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[GhiChuHoaDon] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](max) NOT NULL,
	[Tuoi] [int] NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiay]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiay](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[Ten_LoaiGiay] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiGiay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[Ten_NhaCungCap] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY (1,1) NOT NULL,
	[HoTenNhanVien] [nvarchar](max) NOT NULL,
	[Tuoi] [int] NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[QuyenHan] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [ChiTiet_HoaDon] ON
INSERT INTO [ChiTiet_HoaDon] ([ID], [HoaDonID],[GiayID],[SoLuongBan],[DonGiaBan])
VALUES
    (1, 1, 2, 20, 88180000),
    (2, 2, 8,  15, 49635000),
    (3, 5, 4,  7, 15463000),
    (4, 6, 5,  8, 50400000),
	(5, 8, 8,  3, 26472000),
	(6, 3, 7,  10, 22090000),
	(7, 4, 3,  5, 20500000),
	(8, 7, 1,  9, 42300000);
GO 
SET IDENTITY_INSERT [ChiTiet_HoaDon] OFF

SET IDENTITY_INSERT [Giay] ON
INSERT INTO [Giay] ([ID], [LoaiGiayID],[NhaCungCapID],[TenGiay],[SoLuong],[DonGia],[Size])
VALUES
    (1, 1, 2, N'Nike Zoom Vomero 5', 200, 4700000, 41),
    (2, 2, 8, N'KD17 EP', 100, 4409000, 42),
    (3, 8, 4, N'Air Jordan Legacy', 150, 4100000, 39),
    (4, 5, 5, N'Zion 3', 100, 5600000, 40),
	(5, 1, 8, N'Air Jordan XXXVIII Low PF', 300, 6300000, 42),
	(6, 6, 7, N'Nike SB Chron 2 Canvas', 100, 7400000, 41),
	(7, 4, 3, N'Nike Dunk Low', 600, 2209000, 39 ),
	(8, 3, 1, N'Air Jordan 1 Low SE Craft', 500, 3309000, 42 );

GO 
SET IDENTITY_INSERT [Giay] OFF

SET IDENTITY_INSERT [HoaDon] ON
INSERT INTO [HoaDon] ([ID], [NhanVienID],[KhachHangID],[NgayLap],[GhiChuHoaDon])
VALUES
    (1, 1, 2,  CAST(N'2024-05-22' AS Date), ' '),
    (2, 2, 8,  CAST(N'2024-05-22' AS Date), ' '),
    (3, 3, 4,  CAST(N'2024-05-22' AS Date), ' '),
    (4, 2, 5,  CAST(N'2024-05-22' AS Date), ' '),
	(5, 1, 8,  CAST(N'2024-05-22' AS Date), ' '),
	(6, 3, 7,  CAST(N'2024-05-22' AS Date), ' '),
	(7, 2, 3,  CAST(N'2024-05-22' AS Date), ' '),
	(8, 2, 1,  CAST(N'2024-05-22' AS Date), ' ');

GO 
SET IDENTITY_INSERT [HoaDon] OFF

SET IDENTITY_INSERT [KhachHang] ON

GO 
SET IDENTITY_INSERT [KhachHang] OFF

SET IDENTITY_INSERT [LoaiGiay] ON
INSERT INTO [LoaiGiay] ([ID], [Ten_LoaiGiay])
VALUES
    (1, N'Sneaker'),
    (2, N'Giày cao gót'),
    (3, N'Giày tây'),
    (4, N'Bốt'),
	(5, N'Giày loafer'),
	(6, N'Giày dép đế bằng'),
	(7, N'Giày có quai cổ chân'),
	(8, N'Giày đế xuồng');

GO 
SET IDENTITY_INSERT [LoaiGiay] OFF

SET IDENTITY_INSERT [NhaCungCap] ON
INSERT INTO [NhaCungCap] ([ID], [Ten_NhaCungCap])
VALUES
    (1, N'Bitis'),
    (2, N'Juno Hoding'),
    (3, N'Vina-Giầy'),
    (4, N'Evashose'),
	(5, N'Giầy thời trang Hạnh Dung'),
	(6, N'Giầy tiêu dùng bình tân'),
	(7, N'Giầy Thượng Đình'),
	(8, N'Giầy Hồng Hạnh');
GO 
SET IDENTITY_INSERT [NhaCungCap] OFF

SET IDENTITY_INSERT [NhanVien] ON
INSERT INTO [NhanVien] ([ID], [HoTenNhanVien],[Tuoi],[GioiTinh],[DiaChi],[Email],[TenDangNhap],[MatKhau],[QuyenHan])
VALUES  
    (1, N'Phạm Lương Hòa', 22, 0, N'An Giang', N'Hoane23@gmail.com', N'admin', N'123',0),
	(2, N'Nguyễn Thị Linh', 20, 1, N'Kiên Giang', N'Linh123@gmail.com', N'user', N'123',1);
	
GO 
SET IDENTITY_INSERT [NhanVien] OFF

/****** Object:  Index [IX_ChiTiet_HoaDon_GiayID] ******/
CREATE NONCLUSTERED INDEX [IX_ChiTiet_HoaDon_GiayID] ON [dbo].[ChiTiet_HoaDon]
(
	[GiayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTiet_HoaDon_HoaDonID]   ******/
CREATE NONCLUSTERED INDEX [IX_ChiTiet_HoaDon_HoaDonID] ON [dbo].[ChiTiet_HoaDon]
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Giay_LoaiGiayID]  ******/
CREATE NONCLUSTERED INDEX [IX_Giay_LoaiGiayID] ON [dbo].[Giay]
(
	[LoaiGiayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Giay_NhaCungCapID]   ******/
CREATE NONCLUSTERED INDEX [IX_Giay_NhaCungCapID] ON [dbo].[Giay]
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_KhachHangID]  ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_KhachHangID] ON [dbo].[HoaDon]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_NhanVienID] ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_NhanVienID] ON [dbo].[HoaDon]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ChiTiet_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_HoaDon_Giay_GiayID] FOREIGN KEY([GiayID])
REFERENCES [dbo].[Giay] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon] CHECK CONSTRAINT [FK_ChiTiet_HoaDon_Giay_GiayID]
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_HoaDon_HoaDon_HoaDonID] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon] CHECK CONSTRAINT [FK_ChiTiet_HoaDon_HoaDon_HoaDonID]
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD  CONSTRAINT [FK_Giay_LoaiGiay_LoaiGiayID] FOREIGN KEY([LoaiGiayID])
REFERENCES [dbo].[LoaiGiay] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Giay] CHECK CONSTRAINT [FK_Giay_LoaiGiay_LoaiGiayID]
GO
ALTER TABLE [dbo].[Giay]  WITH CHECK ADD  CONSTRAINT [FK_Giay_NhaCungCap_NhaCungCapID] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Giay] CHECK CONSTRAINT [FK_Giay_NhaCungCap_NhaCungCapID]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang_KhachHangID]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien_NhanVienID]
GO
USE [master]
GO


